<div class="main">
    
    <div class="container">
      <center>
      <div class="middle">
            <div id="login">

              <form action="/" method="post">

                <fieldset class="clearfix">

                  <p><h4>Welcome to Bulls and Cows!</h4></p>

                  <p>Please state your name and you can enjoy the fun game with other players online</p>

                  <p><input type="text" name="name" class="form-control" placeholder="Your Name" required></p>

                  <div>
                      <input type="submit" class="btn btn-primary" value="Get in there">
                  </div>

                </fieldset>

                <div class="clearfix"></div>
              </form>

              <div class="clearfix"></div>

            </div> <!-- end login --> 
            <div class="logo">
              <img src="/images/cows-initial.png" />
            
              <div class="clearfix"></div>  
            </div>
            
            </div>
      </center>
    </div>

</div>