<div id="register" style="display:none;">
  <input type="text" id="player_name" name="name" class="form-control" />
  <button class="btn btn-primary" id="sendNameButton">Send</button>
</div>

<div id="number" style="display:none;">
  <input type="text" id="player_number" name="number" class="form-control" />
  <button class="btn btn-primary" id="sendNumberButton">Send</button>
</div>