
<div id="results_area" style="display:none;">
  <div class="half-column my-column">
    <div class="player-heading"><span class="myName"></span> (You)</div>
    <div class="playerGuesses" id="myGuesses"></div>

  </div>

  <div class="half-column opponent-column">
    <div class="player-heading"><span class="opponent_name"></span></div>
    <div class="playerGuesses" id="opponentGuesses"></div>

  </div>

</div>
