<!DOCTYPE html>
<html>
  <head>
    <title>Bullcows</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="heading">
      <h1>Bulls and Cows</h1>
    </div>

    <div id="status"></div>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      Green school 2017
    </footer>
  </body>
</html>
